Incident_class_DTD.dtd

<!DOCTYPE Incident [
  
  <!ELEMENT Incident (location, context*, incidentCatagory+, encryptionModule, dateTime)>
  <!ATTLIST Incident reportToPolice CDATA #IMPLIED>
  
  <!ELEMENT location(#PCDATA)>
  <!ELEMENT context(#PCDATA)>
  <!ELEMENT incidentCatagory(#PCDATA)>
  
  
  <!ENTITY dateTime SYSTEM "dateTime_class_DTD.dtd">
  <!ENTITY EncryptionModule "encryption_module.dtd">
  
  
  
  
  
]

>