PatientStatus.dtd

<!DOCTYPE PatientStatus [
  
  <!ELEMENT patientStatus(unconscious, alive, injuries*, heartRate, bloodPressureSystolic, bloodPressureDiastolic)>
      <!ELEMENT unconscious(#PCDATA)>
      <!ELEMENT alive(#PCDATA)>
      <!ELEMENT injuries(#PCDATA)>
      <!ATTLIST injuries type CDATA #REQUIRED>
      
      <!ELEMENT heartRate(#PCDATA)>
      <!ELEMENT bloodPressureSystolic(#PCDATA)>
      <!ELEMENT bloodPressureDiastolic(#PCDATA)>
  
]>