Police.dtd

<!ELEMENT Police (Police.policeStation,Police.policeDatabase,Police.encryptionModule)>
<!ELEMENT Police.policeStation (#PCDATA)>
<!ENTITY EncryptionModule "EncryptionModule.dtd">
<!ENTITY Incident "Incident.dtd">
<!ELEMENT Police.policeDatabase (Incident+)>
<!ATTLIST Police.policeDatabase type NMTOKEN #REQUIRED>
<!ELEMENT Police.encryptionModule (EcryptionModule)>
